
a:hover {
    text-decoration: none;
    color: black
}

a {
    color: black;
}

.jumbotron {
    min-height: 500px;
    position: relative;
    text-align: center;
    opacity: 0;
    -webkit-transition:opacity .6s;
        -moz-transition:opacity .6s;
        -o-transition:opacity .6s;
        transition: opacity .6s;
}

.vertical-center {
  display: flex;
  align-items: center;
}

#welcome {
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 35%;
    background-color: #66B9BF;
    
    border-radius: 20px;
    opacity: 0;
    -webkit-transition:opacity .6s;
        -moz-transition:opacity .6s;
        -o-transition:opacity .6s;
        transition:opacity .6s;
}

#welcome p {
    font-size: 20px;
    color: white;
}

#welcome h1 {
    color:rgb(255, 218, 185);
}

.close-btn {
    color:  rgb(255, 218, 185);
}


#sub-btn {
    background-color: rgb(245, 140, 49);
}

#clear-btn {
    background-color: rgb(255, 168, 92);
}

#section-1 {
    background-color: rgb(255, 218, 185);
    height: 100vh;
    justify-content: center;
    display: flex;
  align-items: center;

}

#section-1 p {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;

    color: light lightgrey;
}
#section-2 {
    background-color: rgb(255, 231, 210);
    padding-left: 10%;
    padding-right: 10%;
    transform: translate(0px, 100px);
}

#section-3 {
    background-color: rgb(252, 239, 228);
    padding-left: 10%;
    padding-right: 10%;
    transform: translate(0px, 100px);
}

#section-4 {
    background-color: rgb(253, 249, 245);
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    transform: translate(0px, 100px);
}

.section {

    padding: 200px 0;
    min-height: 100%;
    opacity: 0;
    
    transition: all 0.3s ease-out; 
}

#home-nav {
    background-color: rgb(250, 186, 131)
};


#enter-btn:hover {
    transform: scale(1.1);  
    background-color: yellow;
    color: black;
}

.loaded {
    opacity: 1!important;
    
}

.hide {
    opacity: 0;
}

.fade-in {
    opacity: 1!important;
    transform: translate(0,0)!important;
}

.fade-out {
    opacity: 0!important;
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }